<!doctype html>
<html lang="en-US" class="bg-color-one">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cutive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=League+Script&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="{{ cssFile }}" rel="stylesheet">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Fix Up Look Sharp | Mending Zine & Happy Hour</title>
    </head>

    <body class="text-color-two text-primary-font">
        <div class="wrapper">
            {% include 'partials/topbar.html' %}
            <div class="patchwork">
                <div class="patterned-bg leopard-print-bg neon-pink-a yellow-b"></div>
                <div class="patterned-bg tropical-mint-a yellow-b plaid-bg"></div>
                <div class="patterned-bg polka-dots-bg midnight-blue-a white-b"></div>
                <div class="patterned-bg ferns-bg tropical-mint-a midnight-blue-b"></div>
                <div class="patterned-bg check-bg white-a soft-blush-b"></div>
            </div>
             <div class="patchwork">
                <div class="patterned-bg stripe-bg midnight-blue-a neon-pink-b"></div>
                <div class="patterned-bg flowers-bg soft-blush-a neon-pink-b"></div>
                <div class="patterned-bg chevron-bg yellow-a tropical-mint-b"></div>
                <div class="patterned-bg neon-pink-a yellow-b plaid-bg"></div>
                <div class="patterned-bg polka-dots-bg white-a tropical-mint-b"></div>
            </div>
            <header>
                <a href="/" class="lockup">{% include 'partials/logo.html' %}</a>
            </header>
            <main>
                {% block content %}{% endblock %}
            </main>

            {% include 'partials/socials.html' %}
        </div>
    </body>
</html>
