{% extends 'layouts/base.html' %}

{% block content %}
<main>
    {% include 'partials/svg/lockup.svg' %}
    <section class="links">
        {% for link in links %}
        <a href="{{ link.href }}">{{ link.text }}</a>
        {% endfor %}
    </section>
    {{ content | safe }}
    <section class="socials">
        {% for link in socials %}
        <a href="{{ link.href }}">
        {{ link.icon | safe }}
            {{ link.text }}</a>
        {% endfor %}
    </section>
</main>

{% endblock %}