{% extends 'layouts/base.html' %}
{% block content %}
<section class="content intro">
    <h2 class="bg-color-one border-color-three">Need a crafty friend?  Look no further!</h2>
    <p class="bg-color-one border-color-five">I'm Nyssa, and I am here to help you with all those buttons you need sewing on, trousers that need hemming, holes in your clothes that need patching... I can even take a look at your sewing machine and finish your hand made sweaters.</p>
    <div class="rotate-left kooky-border border-color-four"></div>
    <div class="rotate-right kooky-border border-color-three"></div>
</section>

<section class="content larger-font-size flyer patterned-bg polka-dots-bg midnight-blue-b neon-pink-a border-color-two">
    {% set flyer = flyers.starlight %}
    {% include 'partials/flyer.html' %}
    {{ content | safe }}
    <div class="rotate-right kooky-border border-color-three bg-color-one"></div>
    <div class="rotate-left kooky-border border-color-four"></div>
</section>

<section class="content services">
    <h2 class="bg-color-one border-color-three">Services</h2>
    <div class="services-accordion patterned-bg border-color-five">
        {% for service in services.services %}
        <details name="services" class="{{ service.keyword }} border-color-five bg-color-six">
            <summary class="service-summary">{{ service.service }}</summary>
            <p>{{ service.desc }}</p>
            <div class="rotate-{% if loop.index % 2 == 0 %}left{% else %}right{% endif %} kooky-border border-color-one"></div>
        </details>
        {% endfor %}
    </div>
    <div class="rotate-right kooky-border border-color-four"></div>
    <div class="rotate-left kooky-border border-color-three"></div>
</section>
{% endblock %}
