{% extends 'layouts/base.html' %}

{% block content %}
<div class="wrapper">
    <header class="lockup print-wrapper">
        <h1>{% include 'partials/svg/lockup.svg' %}</h1>
        <h2 class="font-cutive">"mend and make friends"</h2>
    </header>
    
    <main>
        <article data-order="page-a" class="print-only"><p class="no-print">this page intentionally left blank</p></article>
        <article data-order="page-b" class="print-only"><p class="no-print">this page intentionally left blank</p></article>
        {% include 'partials/page.html' %}
    </main>
    <footer>
        <img src="/assets/buttons.svg" alt="Fresh buttons">
        <p>made with love in Brooklyn, NY</p>
        <p>want something mended? visit fixuplooksharpzine.com</p>
    </footer>
</div>
{% endblock %}