main {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: auto;
    max-width: none;
    padding: 2rem 0;
}

main > * {
    max-width: 20rem;
    text-align: center;
    place-content: center;
}