.prices span {
    line-height: 1;
}

.prices ul {
    padding: 0;
}

.prices li {
    align-items: center;
    border-bottom: 1px dashed var(--yellow);
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    padding: .75rem;
    text-align: left;
}

.prices li:last-child {
    border: 0;
}

.prices .alt {
    flex-basis: 60%;
}
