header {
    background-color: var(--white);
    grid-area: header;
    position: sticky;
    top: 0;
}

header img {
    width: 10rem;
}

nav {
    grid-area: nav;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    line-height: 1;
}

article ul,
article ol {
    padding: 0 0 0 1rem;
}

article ol li::marker {
    font-family: var(--cutive);
}

.wrapper .content {
    grid-area: content;
}

h1 {
    font-size: 1.5rem;
}

article:has(.flyer) h1 {
    display: none;
}

h2 {
    font-size: 1.2rem;
}

article > * {
    margin-bottom: 1rem;
}

article > *:last-of-type:not(:has(+ *)) {
    margin-bottom: 0;
}

a, a:visited {
    color: var(--neon-pink);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--yellow);
    text-decoration: underline;
}

.barter p {
    display: flex;
    gap: .5rem;
}

.i-did {
    line-height: 2;
}

.i-received {
    background-image: linear-gradient(
        to bottom,
        transparent,
        transparent calc(100% - 2px),
        var(--black) calc(100% - 2px));
    background-size: 100% 1.4rem;
    line-height: 1;
    flex: 1;
}

.lockup {
    text-align: center;
}

.lockup h1 img {
    margin: 0 auto;
}

footer {
    display: none;
    text-align: center;
}

article {
    min-height: 100dvh;
    max-width: 60ch;
    padding: 2rem;
}

article li {
    line-height: calc(1em + 0.5rem);
}

article img {
    margin: 1rem;
    shape-margin: 5%;
}

article:has(blockquote) {
    text-align: center;

    h1 {
        display: none;
    }

    blockquote p {
        font-family: var(--cutive);
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
}

aside {
    border: 1px dashed var(--black);
    clear: both;
    padding: 1rem;
}

@media (orientation: landscape) {
    .wrapper {
        /*display: grid;*/
        grid: "header header header header"
        "nav content content content";
    }
}

@media (orientation: portrait) {
    .wrapper {
        
    }

    nav {
        display: none;
    }
}

@media print {
    nav {
        display: none;
    }

    main {
        grid-area: main;
    }

    footer {
        display: block;
        grid-area: footer;
    }

    .wrapper {
        display: grid;
        grid: "footer"
            "header"
            "main";
    }

    main {
        display: grid;
        grid: "page8"
            "page1"
            "page2"
            "page7"
            "page3"
            "page6"
            "page4"
            "page5"
    }

    article, header, footer, .flyer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        place-content: center;
    }

    article[data-order="page-1"] {
        grid-area: page1;
    }

    article[data-order="page-2"] {
        grid-area: page2;
    }

    article[data-order="page-3"] {
        grid-area: page3;
    }

    article[data-order="page-4"] {
        grid-area: page4;
    }

    article[data-order="page-5"] {
        grid-area: page5;
    }

    article[data-order="page-6"] {
        grid-area: page6;
    }

    article[data-order="page-7"] {
        grid-area: page7;
    }

    article[data-order="page-8"] {
        grid-area: page8;
    }

    .i-received {
        background-image: linear-gradient(
            to bottom,
            transparent,
            transparent 95%,
            var(--black) 95%);
        background-size: 100% 1rem;
        print-color-adjust: exact;
    }

    .no-print {
        display: none;
    }
}