.zine-wrapper {
    display: grid;
    grid: "header header header header"
        "nav content content content";
    height: 100%;
    width: 100%;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

.zine-wrapper .content {
    grid-area: content;
}