.large-font-size {}

.border {    
    transform: rotate(-3deg) translateY(-.5rem);
}

.flyer h2 {
    font-weight: 900;
    line-height: .8;
    text-transform: uppercase;
}

.flyer h2 > * {
    font-weight: inherit;
}
