:root {
    --urbanist: 'DM Sans', Helvetica, sans-serif;

    --black: rgba(0, 0, 0, 0.87);
    --white: #FFFFFC;

    --midnight-blue: #18206F;
    --soft-blush: #FFD9DA;
    --yellow: #FBFF12;
    --neon-pink: #FF206E;
    --tropical-mint: rgb(15, 244, 198);

    --border-width: .3rem;
    --box-shadow-width: .1rem;

    --default-font-size: calc(1rem + 0.5vw);

    font-size: var(--default-font-size);
}

/*** soft blush ***/
.bg-color-one {
    background-color: var(--soft-blush);
}

.border-color-one {
    border: var(--border-width) solid var(--soft-blush);
}

.box-shadow-color-one {
    box-shadow: calc(var(--box-shadow-width) * -1) var(--box-shadow-width) 0 0 var(--soft-blush);
}

/*** midnight blue ***/
.bg-color-two {
    background-color: var(--midnight-blue);
}

.text-color-two {
    color: var(--midnight-blue);
}

.border-color-two {
    border: var(--border-width) solid var(--midnight-blue);
}

/*** neon pink ***/
.bg-color-three {
    background-color: var(--neon-pink);
}

.text-color-three {
    color: var(--neon-pink);
}

.border-color-three {
    border: var(--border-width) solid var(--neon-pink);
}

.outline-color-three {
    outline: var(--border-width) solid var(--neon-pink);
}

/*** yellow ***/
.text-color-four {
    color: var(--yellow);
}

.border-color-four {
    border: var(--border-width) solid var(--yellow);
}

/*** tropical mint ***/
.text-color-five {
    color: var(--tropical-mint);
}

.border-color-five {
    border: var(--border-width) solid var(--tropical-mint);
}

.outline-color-five {
    outline: var(--border-width) solid var(--tropical-mint);
}

/*** white ***/
.bg-color-six {
    background-color: var(--white);
}

.border-color-six {
    border: var(--border-width) solid var(--white);
}

.outline-color-six {
    outline: var(--border-width) solid var(--white);
}

/*** patterns ***/
.patterned-bg {
    --bg-size: 1.5rem;

    --bg-a: transparent;
    --bg-b: transparent;

    --bg-plaid-img-1: linear-gradient(to right,
            var(--bg-b) 5%,
            transparent 5%);
    --bg-plaid-img-2: linear-gradient(to bottom,
            var(--bg-b) 5%,
            transparent 5%);
    --bg-plaid-img-3: linear-gradient(to right,
            color-mix(in oklab, var(--bg-a), transparent) 50%,
            transparent 50%);
    --bg-plaid-img-4: linear-gradient(to bottom,
            color-mix(in oklab, var(--bg-a), transparent) 50%,
            transparent 50%);
    --bg-plaid-position-1: calc(var(--bg-size)/4) 0;
    --bg-plaid-position-2: 0 calc(var(--bg-size)/4);
    --bg-plaid-position-3: 0 0;
    --bg-plaid-size-1: var(--bg-size);
    --bg-plaid-size-2: var(--bg-size) var(--bg-size);
    --bg-plaid: var(--bg-plaid-img-1) var(--bg-plaid-position-1) / var(--bg-plaid-size-1),
        var(--bg-plaid-img-2) var(--bg-plaid-position-2) / var(--bg-plaid-size-2),
        var(--bg-plaid-img-3) var(--bg-plaid-position-3) / var(--bg-plaid-size-1),
        var(--bg-plaid-img-4) var(--bg-plaid-position-3) / var(--bg-plaid-size-2);

    --bg-polka-dots-img-1: radial-gradient(
                var(--bg-a) 34%, transparent 36%);
    --bg-polka-dots-img-2: radial-gradient(
                var(--bg-a) 34%, transparent 36%);
    --bg-polka-dots-position-1: 0 0;
    --bg-polka-dots-position-2: calc(var(--bg-size)/2) calc(var(--bg-size)/2);
    --bg-polka-dots-size: var(--bg-size) var(--bg-size);
    --bg-polka-dots-color: var(--bg-b);
    --bg-polka-dots: var(--bg-polka-dots-img-1) var(--bg-polka-dots-position-1) / var(--bg-polka-dots-size),
        var(--bg-polka-dots-img-2) var(--bg-polka-dots-position-2) / var(--bg-polka-dots-size) var(--bg-polka-dots-color);

    --bg-chevron-img-1: linear-gradient(135deg, var(--bg-a) 25%, transparent 25%);
    --bg-chevron-img-2: linear-gradient(225deg, var(--bg-a) 25%, transparent 25%);
    --bg-chevron-img-3: linear-gradient(315deg, var(--bg-a) 25%, transparent 25%);
    --bg-chevron-img-4: linear-gradient(45deg, var(--bg-a) 25%, transparent 25%);
    --bg-chevron-position-1: calc(var(--bg-size)/2) 0;
    --bg-chevron-position-2: 0 0;
    --bg-chevron-size: var(--bg-size) var(--bg-size);
    --bg-chevron-color: var(--bg-b);
    --bg-chevron: var(--bg-chevron-img-1) var(--bg-chevron-position-1) / var(--bg-chevron-size),
        var(--bg-chevron-img-2) var(--bg-chevron-position-1) / var(--bg-chevron-size),
        var(--bg-chevron-img-3) var(--bg-chevron-position-2) / var(--bg-chevron-size),
        var(--bg-chevron-img-4) var(--bg-chevron-position-2) / var(--bg-chevron-size) var(--bg-chevron-color);

    --bg-check-img-1: linear-gradient(to right,
            var(--bg-a) 19%,
            transparent 20%);
    --bg-check-img-2: linear-gradient(to bottom,
        var(--bg-a) 19%,
        transparent 20%);
    --bg-check-position-1: calc(var(--bg-size)/4) 0;
    --bg-check-position-2: 0 calc(var(--bg-size)/4);
    --bg-check-size-1: calc(var(--bg-size)/2);
    --bg-check-size-2: calc(var(--bg-size)/2) calc(var(--bg-size)/2);
    --bg-check-color: var(--bg-b);
    --bg-check: var(--bg-check-img-1) var(--bg-check-position-1) / var(--bg-check-size-1),
        var(--bg-check-img-2) var(--bg-check-position-2) / var(--bg-check-size-2) var(--bg-check-color);

    --bg-stripe-img-1: linear-gradient(to right,
        transparent 70%,
        var(--bg-b) 70%,
        var(--bg-b) 80%,
        transparent 80%);
    --bg-stripe-img-2: linear-gradient(to right,
        var(--bg-a) 50%,
        transparent 50%);
    --bg-stripe-position: 0 0;
    --bg-stripe-size: var(--bg-size);
    --bg-stripe: var(--bg-stripe-img-1) var(--bg-stripe-position) / var(--bg-stripe-size),
        var(--bg-stripe-img-2) var(--bg-stripe-position) / var(--bg-stripe-size);

    position: relative;
}

.patterned-bg:before {
    content: "";
    display: block;
    inset: 0;
    pointer-events: none;
    position: absolute;
}

.patterned-bg.neon-pink-a {
    --bg-a: var(--neon-pink);
}

.patterned-bg.neon-pink-b {
    --bg-b: var(--neon-pink);
}

.patterned-bg.soft-blush-a {
    --bg-a: var(--soft-blush);
}

.patterned-bg.soft-blush-b {
    --bg-b: var(--soft-blush);
}

.patterned-bg.midnight-blue-a {
    --bg-a: var(--midnight-blue);
}

.patterned-bg.midnight-blue-b {
    --bg-b: var(--midnight-blue);
}

.patterned-bg.tropical-mint-a {
    --bg-a: var(--tropical-mint);
}

.patterned-bg.tropical-mint-b {
    --bg-b: var(--tropical-mint);
}

.patterned-bg.yellow-a {
    --bg-a: var(--yellow);
}

.patterned-bg.yellow-b {
    --bg-b: var(--yellow);
}

.patterned-bg.white-a {
    --bg-a: var(--white);
}

.patterned-bg.white-b {
    --bg-b: var(--white);
}

.plaid-bg {
    background: var(--bg-plaid);
}

.polka-dots-bg {
    background: var(--bg-polka-dots);
}

.chevron-bg {
    background: var(--bg-chevron);
}

.check-bg {
    background: var(--bg-check);
}

.stripe-bg {
    background: var(--bg-stripe);
}

.flowers-bg {
    background-color: var(--bg-b);
}

.flowers-bg:before {
    background-color: var(--bg-a);
    mask: url("/assets/bg-flowers.svg");
    mask-position: 50%;
    mask-size: cover;
}

.ferns-bg {
    background-color: var(--bg-b);
}

.ferns-bg:before {
    background-color: var(--bg-a);
    mask-image: url("/assets/bg-ferns.svg");
    mask-position: 50%;
    mask-size: cover;
}

.leopard-print-bg {
    background-color: var(--bg-b);
    position: relative;
}

.leopard-print-bg:before {
    background-color: var(--bg-a);
    clip-path: path("M33.3602 95.6061C31.5093 92.1518 33.1365 86.6882 36.964 83.4631C39.7264 81.1407 40.1961 81.0597 41.7646 82.6275C43.5204 84.3826 43.1401 87.2779 40.5008 92.1882C38.6108 95.7095 48.1471 97.5818 46.5702 97.7635C45.1891 97.9312 33.9081 96.6289 33.3602 95.6061ZM86.11 96.0141C84.4241 93.4458 83.5294 89.7903 83.5294 85.4921C83.5294 78.7261 87.8994 75.6464 91.7214 79.7182C93.3179 81.4174 93.5136 82.2893 93.5108 87.6663C93.5108 92.3223 93.1892 94.1696 92.1296 95.7374C90.4017 98.2973 87.6869 98.4175 86.11 96.0141ZM11.6109 93.1775C8.15523 91.1737 6.35191 87.6076 7.01454 84.0779C7.98471 78.9106 12.3379 76.0236 14.7619 78.9441C15.542 79.8831 15.4972 80.5427 14.5103 82.6275C13.0536 85.6793 13.515 87.2611 16.048 87.8955C20.1384 88.9239 22.5541 84.6872 20.2838 80.4728C19.1319 78.3376 19.0648 77.7172 19.8728 76.7475C21.335 74.984 23.4907 75.3389 25.8951 77.7424C29.7171 81.5655 28.6435 88.6165 23.5885 92.8701C20.6193 95.3657 15.6174 95.4943 11.6193 93.1775H11.6109ZM55.0897 87.9793C52.7021 84.5726 54.5921 80.0117 58.3945 80.0117C60.8381 80.0117 62.0766 81.6941 62.0766 85.0226C62.0766 89.1615 57.3264 91.1709 55.0897 87.9793ZM71.0654 80.4951C70.14 79.5086 68.8874 77.0828 68.2835 75.1042C66.1586 68.1398 67.1428 62.4806 70.7662 60.8317C72.399 60.0883 72.9946 60.1693 74.5994 61.3599C77.057 63.1792 78.2564 66.7033 78.3067 72.2424C78.3906 80.2436 74.7336 84.3993 71.0654 80.4951ZM41.7645 76.7838C40.663 75.9789 40.4812 75.1293 40.8 72.2843C41.4961 66.1193 48.0274 61.3711 52.1205 64.0512C54.7794 65.7923 55.0199 68.5646 52.8307 72.2955C49.9873 77.1471 45.019 79.1621 41.7645 76.7838ZM48.0217 70.342C48.0217 69.9592 47.689 69.6462 47.2808 69.6462C46.8754 69.6462 46.5427 70.1632 46.5427 70.7976C46.5427 71.432 46.8754 71.745 47.2808 71.4934C47.689 71.2419 48.0217 70.7249 48.0217 70.342ZM23.1663 69.0956C22.719 68.7966 21.9697 67.824 21.5 66.9381C17.8486 60.0045 27.4944 50.8686 33.8019 55.2842C38.4822 58.5624 32.6975 69.6797 26.3257 69.6489C25.0368 69.6489 23.6137 69.3974 23.1663 69.0956ZM28.7889 61.8965C29.5577 60.9714 29.4515 60.787 28.1374 60.787C27.2372 60.787 26.5689 61.2593 26.5689 61.8965C26.5689 62.5085 26.8597 63.006 27.2176 63.006C27.5754 63.006 28.28 62.5085 28.7889 61.8965ZM88.6319 67.9693C85.0867 65.5827 82.618 60.7926 82.618 56.2987C82.618 52.3358 84.2844 48.957 86.2387 48.957C86.8957 48.957 87.8351 48.4121 88.3216 47.7441C90.7624 44.4073 99.1388 50.2091 100.221 55.9829C101.157 60.9602 100.193 65.3339 97.6458 67.6032C94.8192 70.1296 92.0094 70.2414 88.6319 67.9693ZM92.9963 61.3795C94.2349 60.1414 94.1091 55.2395 92.8006 54.1635C92.2079 53.6717 91.1287 53.3838 90.3961 53.5236C88.604 53.8645 88.2209 58.1069 89.7726 60.4712C91.0951 62.4889 91.7046 62.6622 92.9851 61.3795H92.9963ZM7.74996 59.3253C8.75341 58.599 10.2989 57.7279 11.1858 57.3908C12.0702 57.0507 13.3482 55.4773 14.0234 53.8872C15.4713 50.4901 18.3289 48.7471 20.8881 49.7024C24.6053 51.0908 24.4227 55.5969 20.5872 57.183C19.4376 57.6567 17.0465 59.0495 15.2697 60.2802L12.0448 62.5169L13.5674 63.8656C16.2951 66.2829 14.6316 69.5462 10.8876 69.1282C5.8466 68.5654 3.80564 62.1877 7.74996 59.3253ZM57.6648 57.8665C56.6471 55.9689 57.7206 53.272 60.2705 51.2599C62.8595 49.2253 63.9919 49.2728 65.4373 51.4834C66.5053 53.1155 66.5081 53.476 65.4373 55.5301C63.483 59.3058 59.1242 60.6193 57.6564 57.8749L57.6648 57.8665ZM5.97447 52.3722C2.9633 51.271 1.66043 49.312 2.92976 47.7861C4.32491 46.1037 6.51686 46.5229 8.93251 48.9375C12.4162 52.4197 10.9036 54.1719 5.97447 52.3722ZM42.992 51.7433C41.7702 50.5221 41.8764 46.6291 43.1877 44.7622C43.7832 43.9154 45.2957 42.7975 46.5511 42.2777C53.0767 39.5753 55.7328 48.3031 49.3833 51.584C46.909 52.864 44.1858 52.9311 42.9975 51.7517L42.992 51.7433ZM69.1586 45.7795C65.9098 43.9294 62.8148 38.9045 62.8148 35.4698C62.8148 28.4663 69.9862 23.9641 75.3235 27.614C79.2154 30.2773 80.7783 32.8848 81.1026 37.2557C81.4381 41.7998 79.6041 45.5363 76.4531 46.7325C73.6796 47.7889 72.3962 47.6184 69.1586 45.7795ZM74.5519 39.2036C75.399 36.9119 74.7196 34.2709 72.947 33.0357C69.9051 30.9061 68.1269 35.5928 70.6265 39.156C72.0859 41.2409 73.7886 41.2605 74.5519 39.2119V39.2036ZM21.0191 45.4972C14.3649 42.75 10.4311 37.9096 11.4768 33.7511C12.3295 30.3528 17.1384 28.567 20.5382 30.3891C21.5951 30.9536 21.8047 30.7328 21.7852 29.0951C21.7852 27.2283 21.9529 27.1221 25.2017 27.1612C34.0591 27.273 38.759 38.1192 32.5326 44.0831C29.8262 46.6738 25.2381 47.2383 21.0191 45.4972ZM27.6258 39.6367C29.8485 37.4177 28.6239 33.1307 25.4198 31.9122C24.0499 31.3924 23.007 31.5936 21.0275 32.759C17.4236 34.8858 17.4907 37.3088 21.1952 39.2706C24.5922 41.062 26.102 41.1487 27.6146 39.6367H27.6258ZM89.0403 34.0566C85.2802 32.2441 83.4778 26.5716 86.2387 25.2358C86.9832 24.8759 87.3855 24.9095 88.029 25.3958C88.7208 25.9109 88.7871 26.1764 88.4329 27.0035C87.8844 28.2817 88.5535 29.6782 89.9761 30.2557C91.3189 30.798 92.077 30.4733 92.077 29.3567C92.077 28.0001 91.3807 26.9091 90.047 26.178C88.4616 25.3078 88.5475 23.7241 90.1977 23.5225C92.7401 23.2122 95.6713 26.7875 95.6713 30.1981C95.6713 32.4057 95.174 33.4183 93.6865 34.2342C92.1629 35.0708 91.0492 35.0292 89.0463 34.0646L89.0403 34.0566ZM44.2948 32.3258C39.6676 29.8078 39.4832 23.6315 43.9146 19.5401C45.7375 17.8605 47.2445 17.1367 48.936 17.1311C50.264 17.1311 52.5734 16.9075 54.0692 16.6727C56.3647 16.2927 57.1 16.533 58.7663 18.2014C60.4606 19.8922 60.6731 20.5713 60.2481 22.9105C58.8418 30.6266 50.3675 35.6291 44.2948 32.3258ZM52.0394 25.3279C53.4374 23.7824 53.3759 21.5104 51.9276 21.0269C50.7813 20.644 47.2836 24.0927 47.2836 25.6074C47.2836 27.2451 50.4766 27.055 52.0423 25.3279H52.0394ZM10.1831 21.0841C7.21548 21.482 4.15555 20.3368 2.92979 18.3709C0.79616 14.9488 5.26798 6.43673 10.1746 4.58291C12.7794 3.59777 16.2886 4.68674 17.7854 6.94479C21.1792 12.071 16.8131 20.1977 10.1831 21.0841ZM12.6504 12.4485C13.0384 10.7773 11.6248 9.19183 10.4172 9.94476C10.0139 10.1962 9.32061 11.2509 8.88072 12.2893C8.24288 13.787 8.34303 14.2646 9.36433 14.6027C11.0337 15.1559 12.199 14.3931 12.6534 12.4532L12.6504 12.4485ZM77.0038 19.9649C72.8408 17.9471 71.1857 15.5241 72.3012 13.076C73.9228 9.52392 80.4763 9.77824 84.2396 13.5399C86.7922 16.0914 87.1166 18.5731 85.1343 20.3645C83.3505 21.9771 80.9097 21.8597 77.0038 19.9649ZM24.4049 17.4553C21.5308 15.0378 21.4161 12.1984 24.0666 9.04883C26.6109 6.02497 29.5298 4.58291 33.0889 4.58291C39.1085 4.58291 41.6611 9.42052 38.4347 14.7137C35.4682 19.5736 28.5372 20.9291 24.4049 17.4553ZM32.7898 12.0503C33.6313 11.1197 33.7935 10.4769 33.2678 10.1527C31.9202 9.31991 29.527 10.5188 29.527 12.0252C29.527 13.8501 31.1486 13.8613 32.7898 12.0531V12.0503ZM90.3961 12.2348C84.7513 10.8486 81.0132 4.78133 84.6143 2.85299C86.8873 1.6373 91.4837 1.96708 94.0476 3.52931C100.721 7.59838 97.9926 14.1044 90.3961 12.2348ZM58.7467 12.2348C49.3218 10.1695 46.9957 5.51074 53.4318 1.587C57.7123 -1.02045 65.3031 0.195239 67.2323 3.80039C69.7877 8.57373 64.7775 13.5539 58.7467 12.2348ZM60.6536 5.46324C60.1895 5.29555 59.2472 5.40734 58.5594 5.65886C57.5054 6.06409 57.4746 6.24016 58.3637 6.7963C59.0263 7.20433 59.8204 7.12887 60.4606 6.60068C61.1708 6.011 61.2239 5.65886 60.6536 5.46324Z");
}

.text-primary-font {
    font-family: var(--urbanist);
    font-weight: 500;
    letter-spacing: -.05rem;
}

.larger-font-size {
    font-size: 1.25rem;
}

.small-font-size {
    font-size: .65rem;
}

.rotate-left {
    rotate: -2.26deg;
}

.rotate-right {
    rotate: 1.42deg;
}

strong {
    font-weight: 700;
}

img {
    height: auto;
    width: 100%;
}

a, a:visited {
    color: inherit;
}

a:hover, a:active {
    color: var(--yellow);
}

a.lockup {
    text-decoration: none;
}

.patchwork {
    display: flex;
    width: 100%;

    .patterned-bg {
        border: .2rem solid var(--black);
        border-bottom-width: 0;
        border-right-width: 0;
        position: relative;
        width: 100%;
    }
}

.patchwork:first-of-type {
    .block:first-of-type {
        width: 50%;
    }
}

.patchwork:last-of-type {
    border-bottom: .2rem solid var(--black);

    .patterned-bg:last-of-type {
        width: 50%;
    }
}

header {
    margin-top: -1.5rem;
}

.patchwork {
    height: 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 2.5rem auto;
    max-width: calc(100% - 2rem);
}

@media screen and (orientation: landscape) {
    :root {
        --box-shadow-width: .3rem
    }

    header {
        margin-top: -9rem;
    }

    .patchwork {
        height: 5rem;
    }

    main .intro {
        grid-area: intro;
    }

    main .flyer {
        grid-area: flyer;
    }

    main .services {
        align-self: start;
        grid-area: services;
    }
}

.kooky-border {
    inset: 0;
    pointer-events: none;
    position: absolute;
    z-index: 0;
}

.patterned-bg .kooky-border {
    inset: 2rem;
}

/*.outline {
    outline-offset: calc(var(--border-width) * -2);
}*/

/*** index ***/
*:has(> .kooky-border) {
    padding: 0 2rem 2rem;
    position: relative;
    text-align: center;
}

*:has(> .kooky-border) h2 {
    display: inline-block;
    font-weight: 900;
    line-height: .8;
    margin: -1rem 0 1rem;
    padding: .25em .4em;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

*:has(> .kooky-border) p {
    padding: 1rem;
    position: relative;
    z-index: 2;
}
