body {
    background-color: var(--soft-blush);
}

main {
    align-items: center;
    color: var(--dusk-blue);
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    margin: 0 auto;
    width: 75vw;
    max-width: 600px;
    min-height: 100dvh;
}

.lockup {
    margin-top: auto;
}

.links {
    justify-content: center;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    width: 100%;
}

.socials {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-bottom: .5rem;
    width: 100%;
}

.socials a {
    align-items: center;
    display: inline-flex;
    gap: .3rem;
}

.socials .icon {
    width: auto;
    fill: var(--neon-pink);
    height: 1.2rem;
}

.socials a:hover .icon,
.socials a:active .icon {
    fill: var(--yellow);
}

a, a:visited {
    color: var(--neon-pink);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--yellow);
    text-decoration: underline;
}

@media (orientation: landscape) {
    main {
        width: 50vw;
    }

    .links {
        font-size: 1.5rem;
    }
}