body {
    background-color: var(--soft-blush);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
}

main {
    align-items: center;
    color: var(--dusk-blue);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 20rem;
}

b, strong {
    font-weight: 600;
}

p {
    margin-bottom: 1rem;
}

a, a:visited {
    color: var(--neon-pink);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--yellow);
    text-decoration: underline;
}

.text-size-small {
    font-size: .75rem;
}

.text-highlight-color {
    color: var(--neon-pink);
}

a.lockup {
    color: var(--dusk-blue);
    margin-top: 2rem;
    width: 100%;
}

.sewing-background-image {
    background-image: url("/assets/border.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1rem 1.5rem;
}

.socials {
    font-size: .75rem;
    padding: 1rem 0 .5rem;
}