:root {
    --dm-sans: 'DM Sans', Helvetica, sans-serif;
    --league-script: 'League Script', cursive;
    --cutive: 'Cutive', Courier, monotype;

    --black: rgba(0, 0, 0, 0.87);
    --white: #FFFFFC;

    --dusk-blue: #464D77;
    --soft-blush: #FFD9DA;
    --yellow: #FBFF12;
    --neon-pink: #FF206E;
    --deep-walnut: #4C2E05;

    --default-font-size: calc(1rem + 0.5vw);


    font-size: var(--default-font-size);
}

.font-dm-sans {
    font-family: var(--dm-sans);
    font-weight: 300;
    letter-spacing: -5%;
}

.font-league-script {
    font-family: var(--league-script);
    font-size: 1.5em;
    letter-spacing: normal;
}

.font-cutive {
    font-family: var(--cutive);
    letter-spacing: normal;
}

.bg-primary-color {
    background-color: var(--white);
}

.text-primary-color {
    color: var(--black);
}

.text-primary-font {
    font-family: var(--dm-sans);
    font-weight: 300;
    letter-spacing: -5%;
}

strong {
    font-weight: 600;
}

img {
    height: auto;
    width: 100%;
}