<h1 class="logo">
    <div class="column">
        <span class="large-font-size rotate-left">Fix Up</span>
        <span class="large-font-size rotate-right">Look Sharp</span>
    </div>
    <div class="row">
        <span class="small-font-size rotate-left">Your Crafty Friend for</span>
    </div>
    <div class="row">
        <span class="small-font-size">Alterations</span>
        <span class="small-font-size">Tailoring</span>
        <span class="small-font-size">Mending</span>
        <span class="small-font-size rotate-right">+ More</span>
    </div>
</h1>
